<%- include('./partials/header.ejs') %>
<section id="hero_text">
  <h1 class="mb-5">Articles</h1>
</section>
<section id="posts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3 blog_card">
        <img
          src="https://static.wixstatic.com/media/e1bade_23184f3845c3430c9243f61c3ce45293~mv2.jpg/v1/fill/w_548,h_548,fp_0.50_0.50,q_90,enc_auto/e1bade_23184f3845c3430c9243f61c3ce45293~mv2.jpg"
          alt=""
          width="100%"
          height="300px"
        />
        <div class="blog_card_text mt-3">
          <p class="mb-2">written by:Name</p>
          <h4>Blog Tittle</h4>
          <p>Blog post some context</p>
          <button class="btn blog_card_button">Readmore</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="subscribe" class="mt-4">
  <div class="footer_part1">
    <h4>NEVER MISS A NEW POST</h4>
  </div>
  <div class="footer_part2">
    <form action="/subscribe" method="post">
      <div class="mb-5 form_field">
        <label for="fullname">Full name<span style="color: red">*</span></label>
        <input type="text" id="fullname" name="fullname" />
      </div>
      <div class="mb-5 form_field">
        <label for="email">email<span style="color: red">*</span></label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="form_field">
        <button type="submit">Subscribe</button>
      </div>
    </form>
  </div>
</section>
<%- include('./partials/footer.ejs') %>
