<%- include('./partials/header') %>
<section id="successfull">
    <h4 class="mb-5">successfully submitted</h4>
    <div class="icon mb-5 text-center">
        <i class="fa-solid fa-circle-check fa-2xl"></i>
    </div>
    <div class="text-center">
        <button class="submitted_button mb-2">
            <a href="/">GO Home</a>
        </button>
    </div>
</section>
<%- include('./partials/footer') %>